@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
:root {
  --primary-color: #341586;
  --hover-color: #3315869f;
}

.alert {
  border-radius: 15px;
  border: 1px solid black;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.info {
  background: #2196f3;
}
.success {
  background: #04aa6d;
}

.danger {
  background: #f44336;
}
